.idArtesao {
    height: 900px;
    
}
.link-empresa a {
    text-decoration-style: none;
    color: #D6692B;
    font-weight: bolder;
    display: flex;
    position: absolute;
    left: 58.2%;
    top: 145px;
}
.Artesao p {
    text-align: left;
    margin-left: 50px;
}
.Artesao {
    background-color: #6CB9AA;
    align-items: center;
    text-align: center;
    color: #352166;
    border: none;
    width: 52%;
    left: 23%;
    position: absolute;
    top: 180px;
    height: 640px;
    border-radius: 10px;
}
.Artesao h2{
    color: #352166;
}
.Artesao p {
    font-size: 11px;
}
.botaoArtesao {
    width: 18%;
    height: 5%;
    background: #352166;
    border-radius: 10px;
    color: white;
    font-size: small;
    border: none;
}
.inputMaior{
    width: 85%;
    height: 35px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}

.inputMenor {
    width: 41.6%;
    height: 35px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.inputMenor1 {
    width: 20.1%;
    height: 33px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}
.cadastroArtesao input {
    font-size: small;
}