.Artesao-Perfil {
    height: 1000px;
}

.busca-mapa {
    display: flex;
    position: absolute;
    width: 80%;
    top: 350px;
    left: 10%;
}
.mapaBusca {
    background-color: rgb(235, 234, 232);
    width: 80%;
    height: 400px;
}
.mapaBusca img {
    width: 500px;
    height: 500px;
    
}
.menuBusca {
    width: 30%;
    background-color: #352166;
    height: 400px;
    border-radius: 10px;
   
}
.menuBusca h3 {
    color: white;
    margin-left: 20px;
}
.menuBusca p {
    color: white;
    margin-left: 20px
}
.menuBusca table {
    
    background-color: rgb(235, 234, 232);
    color:#352166;
    margin-left: 20px;
    border-radius: 10px;
    height: 290px;

}
.menuBusca a {
    margin-left: 90px;
    text-decoration: none;
    font-size: small;
    font-weight: bolder;
}
