.TamanhoCorpoPerfilArtesao {
    height: 700px;
    width: 100%;
}
.Artesao-Perfil {

    margin-left: 10%;
    width: 80%;
}
.busca-mapa {
    display: flex;
    justify-content: space-between;
    color: #D6692B;
    font-size: 13.5px;
    align-items: center;
    padding: 10px;
    top: 350px;
}
.mapaBusca {
    background-color: rgb(235, 234, 232);
    width: 80%;
    height: 400px;
    margin-top: 40px;
}
.menuBusca {
    width: 30%;
    background-color: #352166;
    height: 400px;
    border-radius: 10px;
    padding-bottom: 15px;
    margin-top: 40px;
   
}
.menuBusca h3 {
    color: white;
    margin-left: 20px;
}
.menuBusca p {
    color: white;
    margin-left: 20px;
}
.menuBusca table {
    
    background-color: rgb(235, 234, 232);
    color:#352166;
    margin-left: 10px ;
    border-radius: 10px;
    height: calc(95% - 20px - 5em);
    width: 93%;

}
.menuBusca a {
    text-decoration: none;
    font-weight: bolder;
    margin-top: 10px;
}
.ListaEmpresas td {
    padding: 10px;
}

