.PrimeiroBloco {
    display: inline-flex;
    margin-top: 170px;

}

.BlocoEsquerdo {
    display: inline-flex;
    background-color: #352166;
    padding: 40px;
    border-radius: 10px 0 0 10px;
    width: 770px;
}

.FotoEmpresa {
    display: inline-flex;
    flex-direction: column;
    padding: 20px 30px 20px 20px;
}

img#LogoEmpresa {
    width: 220px;
    height: 220px;
    border-radius: 0 10px 0 0;
    background-color: rgb(131, 131, 131);
}

.DadosEmpresa h3 {
    margin: 0px 0 20px 05px;
    padding-top: 20px;
    color: #f1f1f1;
}

.Dados {
    margin-top: 15px;
}

.DadosEmpresa p {
    margin: 10px 10px 5px 10px;
    color: #f1f1f1;
    font-size: 14px;
    width: 500px;
}

img#IconPerfilEmp {
    margin: 0 10px 12px 0;
}

.BotaoEditar {
    margin-top: 10px;
}

button#BotaoEditPerfil {
  
    border-radius: 5px;
    border: transparent;
    background-color: transparent;
    color: #f1f1f1;
    margin-top: 10%;
    margin-left: 75%;
    font-weight: bold;
}

.buttonAtualizar {
    border-radius: 5px;
    background-color: #f1f1f1;
    border: transparent;
    color: #352166;
}


.BlocoDireita {
    background-color: #48B9A3;
    padding: 40px;
    border-radius: 0 10px 10px 0;
    width: 30%;
}

.CabecalhoSelos {
    display: inline-flex;
    color:  #352166;
    margin-left: 10px;
}

.CabecalhoSelos h2 {
    font-size: 18pt;
    margin: 10px 10px 0 0;
}

img#TipoSelo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.TabelaSelos {
    margin-top: 50px;
}

#LinhaT {
    border-top: 2px solid #352166;
    width: 100%;
    margin-top: 20px;
}

#Numero {
    font-size: 15pt;
    padding-left: 42px;

}

.TabelSelo2 #Numero {
    padding-left: 42px;
}

.TabelSelo3 #Numero {
    padding-left: 130px;
}