.Cadastro {
    text-align: center;
    color:  #352166;
    align-items: center;
    
}
.cadastrar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 165px;  
}
.estilo-cadastro {
    border-style: none;
    background-color: #6CB9AA;
    width: 400px;
    height: 300px;
    align-items: center;
    box-shadow: 0px 2px 4px #352166;
    border-radius: 10px;
}

.estilo-cadastro button{
    width: 28%;
    height: 12%;
    background: #352166;
    border-radius: 10px;
    color: white;
    font-size: small;
    border: none;
}

.estilo-cadastro a{
    text-decoration-style: none;
    font-size: small;
    margin-left: 44%;
    color: white;
}
.estilo-cadastro input{
    width: 310px;
    height: 38px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    font-size: small;
}