.sobre {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 650px;
    top: 750px;
    display: flex;
    justify-content: space-between;
    color: #D6692B;
    font-size: 13.5px;
    align-items: center;
    padding: 10px;
}
.sobre-titulo {
    position: absolute;
    top: 750px;
    margin-left: 15%;
    text-align: center;
    color:#D6692B ;
    
}
.sobre p {
    color:#D6692B ;
    font-size: 16px;
}
.h2-azul{
    color: #352166;
}
.sobre h4 {
    color: #352166;
}
.sobre a{
    text-decoration-style: none;
    text-decoration: none;
    list-style: none;
    color:#D6692B ;
}
.texto-sobre {
    margin-right: 20px;
}
.texto-sobre img {
    width: 30px;
    height: 30px;
}
.video {
    height: auto;
    width: 72%;
}
