.SegundoBloco {
    background-color: #EDCB59;
    margin-top: 30px;
    border-radius: 10px;
    width: 340px;
}

.BlocoAmarelo {
    padding: 30px;
}

p#Divisoria {
    border-top: 3px solid #352166;
}

.CorpoBlAmarelo p {
    margin-top: 10px;
    margin-bottom: 5px;
}

input#txtCadTipo {
    width: 270px;
    height: 30px;
    border-radius: 3px;
    border: transparent;
    padding-left: 5px;
}

input#txtCadQnt {
    width: 270px;
    height: 30px;
    border-radius: 3px;
    border: transparent;
    padding-left: 5px;
}

input#Data {
    width: 160px;
    height: 30px;
    border-radius: 3px;
    padding-left: 5px;
    border: transparent;
    margin-right: 10px;
}

input#Hora {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    padding-left: 5px;
    border: transparent;
}

p#BotaoCadastrar {
    margin-top: 20px;
    margin-left: 175px;
}

button#BotaoCad {
    padding: 6px 15px 6px 15px;
    background-color:  #352166;
    color: #f1f1f1;
    border-radius: 5px;
    border: transparent;
}
