.TabelaSelos {
    color:  #352166;
    margin: 0 0 0 10px;
}

.TabelaSelos tr td {
    padding: 15px 40px 10px 0;
    font-size: 14px;
}

p#Linha {
    width: 250px;
    border-top: 2px solid #352166;
}

td#Numero {
    padding: 0 0 0 10px;
    font-size: 16pt;;
}

.SegundoBloco {
    position: absolute;
    background-color: #EDCB59;
    margin-top: 450px;
    border-radius: 10px;
    top: 180px;
    width: 25%;

}

.BlocoAmarelo {
    padding: 30px;
}


.CabecalhoBlAmarelo {
    margin: 0 0 10px 0;
    color: #352166;
}

p#Divisoria {
    border-top: 3px solid #352166;
}

.CorpoBlAmarelo p {
    padding: 10px 0 5px 0;
}

input#txtCadTipo {
    width: 270px;
    height: 30px;
    border-radius: 3px;
    border: transparent;
    padding-left: 5px;
}

input#txtCadQnt {
    width: 270px;
    height: 30px;
    border-radius: 3px;
    border: transparent;
    padding-left: 5px;
}

input#Data {
    height: 30px;
    border-radius: 3px;
    border: transparent;
    padding-left: 5px;
    color: rgb(100, 100, 100);
}

input#Hora {
    height: 30px;
    border-radius: 3px;
    border: transparent;
    margin-left: 18px;
    padding-left: 5px;
}

p#BotaoCadastrar {
    margin-top: 20px;
    margin-left: 185px;
}

button#BotaoCad {
    padding: 6px 15px 6px 15px;
    background-color:  #352166;
    color: #f1f1f1;
    border-radius: 5px;
    border: transparent;
}